/* /* th, td {
    border-bottom: 2px solid #dcdcdc; 
    /* border-radius: 10px; */
  /* }  */
  /* table {
     border:1px solid #dcdcdc;
  } */ 
  td {
    text-align: center;
   }
   .addStudentBtn {
    display: flex;
    justify-content: center;
    width: 7em;
    height: 2em;
    margin-top: 2em;
   }
   .div1{
    display: flex;
    justify-content: space-around;
    margin: 2em;
   }